#mainContentParent {
    justify-content: center;
    display: flex;
}

#mainContent {
    width: 40%;
    margin-top: 56px;
}

nav {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 101;
    box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
    height: 55px;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        background: #1B1F23;
    }

    nav {
        background: #2d3844;
    }

    .textfield {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background: #E5E7EA;
    }

    main {
        background: #E5E7EA;
    }

    nav {
        background: #FFFFFF;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@media all and (max-device-width: 480px) {
    #mainContent {
        width: 100%;
    }
}

/* [page].js and index.js */

#paginationBlock {
    height: 80px;
}