.mainData {
    display: flex;
    font-size: 2rem;
}

.secondaryData {
    margin-left: 2px;
    margin-top: 8px;
    font-size: 1.2rem;
}

.mainData div {
    margin-right: 10px;
}

@media (prefers-color-scheme: dark) {
    .profile {
        background: #2d3844;
        padding: 52px 20px;
    }
}

@media (prefers-color-scheme: light) {
    .profile {
        background: #2d3844;
        padding: 52px 20px;
    }
}